WindowsFormsApplication1/Service References/wsServico/TesteJavaEndPointService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/test" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TesteJavaEndPointService" targetNamespace="http://localhost:8080/test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://localhost:8080/test" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="cadastroTo">
        <xs:sequence>
          <xs:element minOccurs="0" name="cadastroId" type="xs:long" />
          <xs:element minOccurs="0" name="quantidade" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="returnServicoResponse">
    <wsdl:part name="return" type="tns:cadastroTo" />
  </wsdl:message>
  <wsdl:message name="returnServico">
    <wsdl:part name="parametro1" type="xsd:string" />
    <wsdl:part name="parametro2" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="TesteJavaEndpoint">
    <wsdl:operation name="returnServico">
      <wsdl:input name="returnServico" message="tns:returnServico" />
      <wsdl:output name="returnServicoResponse" message="tns:returnServicoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TesteJavaEndPointServiceSoapBinding" type="tns:TesteJavaEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="returnServico">
      <soap:operation soapAction="returnServico" style="rpc" />
      <wsdl:input name="returnServico">
        <soap:body use="literal" namespace="http://localhost:8080/test" />
      </wsdl:input>
      <wsdl:output name="returnServicoResponse">
        <soap:body use="literal" namespace="http://localhost:8080/test" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TesteJavaEndPointService">
    <wsdl:port name="TesteJavaEndpointPort" binding="tns:TesteJavaEndPointServiceSoapBinding">
      <soap:address location="http://192.168.1.30:8080/test/TesteJavaEndPointService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>